---
import CommonStuff from "../components/CommonStuff.astro";
import '../styles/404.css';
---
<div class= "grid place-items-center h-screen content-center">
<x-sign>404: Not Found</x-sign>
<p>It seems you've reached the end..</p>
<a href="./index.astro">Go back</a>
</div>

