--- 
// src/pages/About.astro
const pageTitle = 'About Me - Uday\'s Portfolio';
// import Button from '../components/Button.astro';
// import CommonStuff from './common-stuff.astro';
import '../styles/global.css';
---
<!-- <CommonStuff> -->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{pageTitle}</title>
	</head>
		<body>
			<h1>Uday - About Me</h1>
			<p>Hi! I'm Uday, a first year student at Thapar Institute of Technology, Patiala</p>
		</body>
</html>
<!-- </CommonStuff> -->