---
import Social from "./social.astro";
---

<footer>
<div>
<Social platform="Github" username="upsatwal"/>
<Social platform="Linkedin" username="in/upsatwal"/>
<Social platform="Instagram" username="upsatwal"/>
<Social platform="Twitter" username="upsatwal"/>
<a aria-label="Email to hellouday@atwal.info" title="Email to hellouday@atwal.info" href="mailto:hellouday@atwal.info"> Get in touch →</a>
</div>
</footer>