---
import Navigation from "./navigation.astro";
---

<header>
	<nav class="bg-opacity-30 rounded-lg sticky top-0 z-10 bg-white backdrop-filter backdrop-blur-lg border-b border-gray-200">
		<Navigation />
	</nav>
</header>