@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #1b1b1b;
	font-family: 'Bellota', cursive;
	font-family: 'Inter', sans-serif;
	scroll-behavior: smooth
	}

	body {
	margin: 0 auto;
	width: 100%;
	max-width: 80ch;
	padding: 1rem;
	line-height: 1.5;
	}

  * {
	box-sizing: border-box;
	}

	h1 {
	margin: 1rem 0;
	font-size: 2.5rem;
	}	

/* https://jarv.is/notes/css-waving-hand-emoji/ */
.wave {
	animation-name: wave-animation;
	animation-duration: 2.667s;
	animation-iteration-count: infinite;
	transform-origin: 70% 70%;
	display: inline-block;
  }
  
  @keyframes wave-animation {
	0% {
	  transform: rotate(0deg);
	}
	10% {
	  transform: rotate(14deg);
	}
	20% {
	  transform: rotate(-8deg);
	}
	30% {
	  transform: rotate(14deg);
	}
	40% {
	  transform: rotate(-4deg);
	}
	50% {
	  transform: rotate(10deg);
	}
	60% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(0deg);
	}
  }
  